@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&display=swap');
body, .login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: 'Belanosima', sans-serif;
}
body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/*Main Card*/
.login-card{
    background: white;
    width:50vw;
    height:50vh;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    flex-direction: column;
    box-shadow: 28px 13px 35px -23px rgba(140,98,140,1);
}
h1{
    color: #b47fac;
    font-size: x-large;
    font-family:'Caprasimo', cursive;
    font-weight: 100;
    text-align: center;
}
/*Input/Form items*/
.input-items{
    display: flex;
    width: 30vw;
    height: 20vh;
    align-items: stretch;
    flex-direction: column;
    justify-content:space-evenly;
    font-family: 'Belanosima', sans-serif;
}
input{
    border-radius: 2%;
    border: 0;
    height: 3vh;
}
input:focus{
    outline: none;
    box-shadow:0 0 10px 2px #b47fac;
    cursor: pointer;
}
.button-div{
    display: flex;
    min-width: 10vw;
    align-self: center;
    justify-content: center;
    border: none;
    border-radius: 5%;
    height: 5vh;
    cursor: pointer;
}