@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&display=swap');
body, .login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: 'Belanosima', sans-serif;
    flex-direction: column;
}
body{
    background: radial-gradient(circle, #DAB785 0%, #d3a9cd  100%);
}
/*Main Card*/
.login-card{
    background: white;
    width:50vw;
    height:50vh;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    flex-direction: column;
    box-shadow: 28px 13px 35px -23px #d3a9cd;
}
h1{
    color: #d3a9cd;
    font-size: x-large;
    font-family:'Caprasimo', cursive;
    font-weight: 100;
    text-align: center;
}
/*Input/Form items*/
.input-items{
    display: flex;
    width: 30vw;
    height: 20vh;
    align-items: stretch;
    flex-direction: column;
    justify-content:space-evenly;
    font-family: 'Belanosima', sans-serif;
}
input{
    border-radius: 2%;
    border: 0;
    height: 3vh;
}
input:focus{
    outline: none;
    box-shadow:0 0 10px 2px #90708C;
    cursor: pointer;
}
.button-div{
    display: flex;
    min-width: 10vw;
    color: #90708C;
    font-weight: bold;
    background-color:  #ebddca;
    box-shadow: 5px 5px 5px #d3a9cd;
    align-self: center;
    justify-content: center;
    border: none;
    border-radius: 5%;
    height: 5vh;
    cursor: pointer;
}
/*CATS*/
.gatos{
    flex-direction: row;
}
.ivy, .orange-gato, .black-gato{
    width: 10vw;
}
/*Footer and Links*/
a{
    text-decoration: none;
}
footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 4vh;
    text-align: center;
}

/*VIEWPORTS*/

@media screen and (min-width:200px) and (max-width:880px) {
    /*CARD*/
    .login-card{
        width: 80vw;
    }
    /*INPUT ITEMS*/
    .input-items{
        width: 50vw;
    }
    .button-div{
        width: 50vw;
    }
    /*Gatos*/
    .ivy, .orange-gato, .black-gato{
        width: 12vh;
    }
}