<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
    <div class="login-card">
        <h1>Forgot Password?</h1>
        <form class="input-items" action="https://alisson.me/catpet">
            <input type="email" placeholder="Email" required/>
            <input class="button-div" type="submit" value="Send Password Reset"/>
        </form>
        <a href="../index.html"><small>Go back to login page</small></a>
        
    </div>
    <div class="gatos">
        <img class="questioncat" src="../assets/questioncat.gif" alt="Question Gato">
    </div>
</body>
<footer>
    <small>Made with &hearts; by <a href="https://github.com/AlissonRoss">Alisson Ross</a></small>
</footer>
</html>